{% from 'bootstrap/form.html' import render_form %}
{% from 'bootstrap/nav.html' import render_nav_item %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block header %}
        {% block title %}
            <title>Reverseroski</title>
        {% endblock %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{ bootstrap.load_css() }}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">  
    {% endblock %}
</head>

<body style="background-color: grey;">
<nav class="navbar navbar-expand-sm bg-dark navbar-dark" id="top-navbar">
    <div class="container-fluid">

        {% block navbar %}
            <ul class="navbar-nav navbar-left">
                <li class="nav-item">
                    <a class="navbar-brand" href="/" id="index-nav">Reverseroski</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">dashboard</a>
                </li>
            </ul>

            <ul class="navbar-nav navbar-right">
                {% for tab in rtabs %}
                    <li class="nav-item">
                        <a class="nav-link" id="{{ tab.text }}-nav" href="/{{ tab.link }}">{{ tab.text }}</a>
                    </li>
                {% endfor %}
                {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" class="navbar-brand">{{ current_user.name }}</a>
                    </li>
                    <li id="logout-nav" class="nav-item">
                        <a href="{{ url_for('auth.logout') }}" class="btn btn-info btn-sm">
                            Logout
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{{ url_for('auth.login') }}" class="btn btn-info btn-sm">
                            Login
                        </a>
                    </li>
                {% endif %}
            </ul>
        {% endblock %}
    </div>
</nav>
<br>

<div class="container-fluid">
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</div>


{% block scripts %}
    {{ bootstrap.load_js() }}
    <script src="{{ url_for('static', filename='js/utils.js') }}"></script>
{% endblock %}
</body>
</html>
