{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="sm-col-3">
            <style src="static/css/navbar.css">
                <ul>
                    <li><a href="/"> </a></li>
                </ul>
            </style>
        </div>
        <div class="sm-col-9">
            <table style="width:100%">
                <thead>
                    <th>Command id</th>
                    <th>Pending</th>
                    <th>Timestamp</th>
                    <th>Command</th>
                    <th>stdout</th>
                </thead>
                <tbody>
                    {% for command in host.commands %}
                        <tr>
                            {% for i in command.state() %}
                                <td>{{ i }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
