{% from 'bootstrap/form.html' import render_form %}
{% from 'bootstrap/nav.html' import render_nav_item %}

<!DOCTYPE html>
<html lang="en">
{% block header %}
    <head>
        {% block title %}
            <title>Reverseroski</title>
        {% endblock %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{ bootstrap.load_css() }}
        {# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> #}
        {# <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> #} 
    </head>
{% endblock %}

<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark" id="top-navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/" id="index-nav">Reverseroski</a>
        </div>

        {% block navbar %}
            <ul class="nav navbar-nav">
                {% for tab in ltabs %}
                    <li class="nav-item">
                        <a class="nav-link" href="/{{ tab.link }}">{{ tab.text }}</a>
                    </li>
                {% endfor %}
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% for tab in rtabs %}
                    <li class="nav-item">
                        <a class="nav-link" id="{{ tab.text }}-nav" href="/{{ tab.link }}">{{ tab.text }}</a>
                    </li>
                {% endfor %}
                {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" class="navbar-brand">{{ current_user.name }}</a>
                    </li>
                    <li id="logout-nav" class="nav-item">
                        <a href="{{ url_for('auth.logout') }}" class="btn btn-info btn-sm">
                            Logout
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{{ url_for('auth.login') }}" class="btn btn-info btn-sm">
                            Login
                        </a>
                    </li>
                {% endif %}
            </ul>
        {% endblock %}
    </div>
</nav>
<br>

<div class="container-fluid">
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</div>

<footer>
    {{ bootstrap.load_js() }}
    <script>
        $(document).ready(function() {
            var navbar = document.getElementById("top-navbar");
            var nav_items = navbar.getElementsByTagName('a');

            for (var i=0; i<nav_items.length; ++i) {
                if (nav_items.item(i).href.toString() == document.location.toString()) {
                    nav_items.item(i).className += " active";
                    break;
                };
            };
        });
    </script>
</footer>
</body>
</html>
