{% extends 'dashboard/dashboard.html' %}

{% block dashboard_content %}
    {{ render_form(form) }}
    <br>
    <table class="table table-dark table-hover">
        <thead>
            <tr>
                {% for header in table_data.headers %}
                    <th>{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in table_data.get_body() %}
                <tr class="clickable-row" data-href="{{ row.link }}">
                    {% for i in row %}
                        <td>
                                {{ i }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
