{% extends 'base.html' %}

{% block content %}
    <div class="row">
        {% if navitems | length == 0 %}
            <p>Go pwn some fools BRUH!</p>
        {% else %}
            <div class="col-sm-1">
                <nav class="navbar bg-dark navbar-dark sticky-top">
                    <ul class="navbar-nav" style="border-color: red;">
                        {% for item in navitems %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ item.link }}" style="color: white;">
                                    {{ item.text }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
            <div class="col-sm-11">
                <div class="container">
                    {% block dashboard_content %}
                    {% endblock %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
